@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlEA.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdr.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 62.5%;
  line-height: 1.7;
  font-weight: 400;
  margin: 1.5rem;
  margin: 0 auto;
  max-width: 1440px;
}
body h1 {
  font-size: 2.3rem;
  padding: 1.5rem;
  text-align: center;
}
body h2 {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem;
}
body h3 {
  font-size: 1.3rem;
  text-align: center;
}
body p {
  font-size: 1.2rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 5px 0;
}
nav .logo {
  margin-left: 10%;
}
nav a {
  text-decoration: none;
  color: #362E34;
  font-size: 1.5rem;
  font-weight: 500;
}
nav a:hover {
  color: #94909B;
}
nav .btn-group {
  display: flex;
  justify-content: space-between;
}
nav .btn-group .sign-up-btn {
  background-color: #0E7C7B;
  padding: 8px 10px;
  border-radius: 5px;
  margin-right: 15px;
  color: #FFFFFF;
}
nav .btn-group .sign-up-btn:hover {
  color: #362E34;
  background-color: #FFFFFF;
}
nav .btn-group .login-btn {
  background-color: #F0F0F0;
  padding: 8px 10px;
  border-radius: 5px;
  color: #362E34;
}
nav .btn-group .login-btn:hover {
  color: #F0F0F0;
  background-color: #362E34;
}
.header-img {
  background-image: url("/img/Helicopter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-overlay {
  position: absolute;
  text-align: center;
  padding-top: 200px;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.6rem;
}
p {
  font-size: 1.6rem;
}
.lower-page {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  padding: 5% 0;
}
.lower-page .testimonials {
  display: flex;
  justify-content: center;
  width: 32%;
  margin: 2%;
}
.lower-page .testimonials .picture-div {
  display: flex;
  justify-content: center;
  max-width: 50%;
}
.lower-page .testimonials .testimonial-text {
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
  padding: 5% 5%;
}
.lower-page .testimonials .testimonial-text .img-testimonial {
  width: 45%;
}
.lower-page .testimonials .testimonial-text h3 {
  font-weight: 500;
  font-size: 1.8rem;
}
