@surfie-Green: #0E7C7B; //background
@white: #FFFFFF;
@thunder: #362E34;
@thunderbird: #BD2020;
@gallery: #F0F0F0;
@mountain-mist: #94909B;

//media queries

// Mobile var

@mobile: ~"(max-width: 500px)";
